*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main{
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box{
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 70px;
    margin:5px auto;
    overflow: scroll;
}
img{
    padding-top: 5rem;
    width: 50px;
}
.box2{
    display: flex;
    flex-direction: column;
    width: 70px;
    max-height: 70px;
    padding: 1rem;
}